MapClientApp/*.iml
MapClientApp/local.properties
MapClientApp/.idea/
MapClientApp/.idea/caches/
MapClientApp/.idea/libraries/
MapClientApp/.idea/modules.xml
MapClientApp/.idea/workspace.xml
MapClientApp/.idea/navEditor.xml
MapClientApp/.idea/assetWizardSettings.xml
MapClientApp/.DS_Store
MapClientApp/build/
MapClientApp/captures/
MapClientApp/.externalNativeBuild/
MapClientApp/.cxx/

stm4-5/target/
stm4-5/!.mvn/wrapper/maven-wrapper.jar
stm4-5/!**/src/main/**/target/
stm4-5/!**/src/test/**/target/
stm4-5/.idea/modules.xml
stm4-5/.idea/jarRepositories.xml
stm4-5/.idea/compiler.xml
stm4-5/.idea/libraries/
stm4-5/*.iws
stm4-5/*.iml
stm4-5/*.ipr
stm4-5/.apt_generated
stm4-5/.classpath
stm4-5/.factorypath
stm4-5/.project
stm4-5/.settings
stm4-5/.springBeans
stm4-5/.sts4-cache
stm4-5/nbproject/private/
stm4-5/nbbuild/
stm4-5/dist/
stm4-5/nbdist/
stm4-5/.nb-gradle/
stm4-5/build/
stm4-5/!**/src/main/**/build/
stm4-5/!**/src/test/**/build/
stm4-5/.vscode/
stm4-5/.DS_Store
